! Colorscheme for X Applications
!
! created by: Daylen W <daylen@protonmail.com>

! basic
*background:        #1c1c1c
*foreground:        #b54f52
*cursorColor:       #b54f52

! black
*color0:            #5e5e5e
*color8:            #424242

! red
*color1:            #9b3948
*color9:            #b54f52

! green
*color2:            #466852
*color10:           #355744

! yellow
*color3:            #a8a44e
*color11:           #a8a425

! blue
*color4:            #20474c
*color12:           #193a48

! magenta
*color5:            #66434d
*color13:           #513640

! cyan
*color6:            #365153
*color14:           #2a474a

! white
*color7:            #bfbfbf
*color15:           #b8c4cc


! extra colors
