#include ".config/colors/.Xresources"

! urxvt
URxvt*scrollBar:            false
URxvt*internalBorder:       24

URxvt*letterSpace:          1

URxvt*font:                 xft:Agave:size=10

*antialias:                 true
*autohint:                  true

! rofi color
rofi.color-enabled:         true
!                           bg       border   separator
rofi.color-window:          #1c1c1c, #1c1c1c, #6aa7a5
!                           bg       fg       bg-alt   hl-bg    hl-fg 
rofi.color-normal:          #1c1c1c, #6aa7a5, #1c1c1c, #6aa7a5, #1c1c1c
rofi.color-active:          #1c1c1c, #6aa7a5, #1c1c1c, #6aa7a5, #1c1c1c
rofi.color-urgent:          #1c1c1c, #6aa7a5, #1c1c1c, #6aa7a5, #1c1c1c
! rofi separtor style
rofi.separator-style:       solid
! rofi scrollbar
rofi.hide-scrollbar:        true

Xft.autohint:               1
Xft.lcdfilter:              lcddefault
Xft.hintstyle:              hintslight
Xft.hinting:                1
Xft.antialias:              1
Xft.rgba:                   rgb
