#include ".config/colors/ice"

! urxvt
URxvt*scrollBar:            false
URxvt*internalBorder:       24

URxvt*letterSpace:          1
URxvt*lineSpace:            1

URxvt*font:                 xft:Agave:size=10

*antialias:                 true
*autohint:                  true

! rofi color
rofi.color-enabled:         true
!                           bg       border   separator
rofi.color-window:          #12121e, #ebebff, #ebebff
!                           bg       fg       bg-alt   hl-bg    hl-fg 
rofi.color-normal:          #12121e, #ebebff, #12121e, #ebebff, #12121e
rofi.color-active:          #12121e, #ebebff, #12121e, #ebebff, #12121e
rofi.color-urgent:          #12121e, #ebebff, #12121e, #ebebff, #12121e
! rofi separtor style
rofi.separator-style:       solid
! rofi scrollbar
rofi.hide-scrollbar:        true

Xft.autohint:               1
Xft.lcdfilter:              lcddefault
Xft.hintstyle:              hintslight
Xft.hinting:                1
Xft.antialias:              1
Xft.rgba:                   rgb
